/* EARTH COLOURS */
.earthFCI {
	background-color: #ff7e00;
}

.earthSUBURBIA {
	background-color: #ffea00;
}

.earthARGONIA {
	background-color: #9c01ff;
}

.earthCCCP {
	background-color: #bca9ff;
}

.earthCANADA {
	background-color: #7092be;
}

.earthASH {
	background-color: #2f91dc;
}

.earthRDA {
	background-color: #b97a57;
}

.earthCASCADIA {
	background-color: #397c12;
}

.earthBRITTANIA {
	background-color: #bd56bf;
}

.earthTRIBES {
	background-color: #009a44;
}

.earthTEUTIONIA {
	background-color: #9f0000;
}





.earthSTEK {
	background-color: #d9a220;
}

.earthREPUBLICA {
	background-color: #ed1c24;
}

.earthTARTARIA {
	background-color: #6ca4cf;
}

.earthPERM {
	background-color: #105523;
}

.earthGODMAKER {
	background-color: #b72626;
}

.earthMOSCOW {
	background-color: #bf4f4f;
}

.earthPETRO {
	background-color: #819aba;
}

.earthTGKC {
	background-color: #e871c9;
}

.earthSUBSIHN {
	background-color: #c8c35f;
}

.earthMALA {
	background-color: #ff95e6;
}

.earthBORN {
	background-color: #828014;
}
 
.earthXI {
	background-color: #ee8b0a;
}

.earthNGUINEA {
	background-color: #5bc49d;
}

.earthTRIBES {
	background-color: #009a44;
}

.earthETHIOPIA {
	background-color: #590d22;
}

.earthSULTAN {
	background-color: #be3333;
}

.earthGHANA {
	background-color: #49c976;
}

.earthSIDI {
	background-color: #8a3232;
}

.earthKHIVA {
	background-color: #9fcaeb;
}

.earthFarallon {
	background-color: #199d26;
}

.earthSomalia {
	background-color: #c7bd00;
}

.earthKenya {
	background-color: #fff875;
}

.earthEritrea {
	background-color: #049fb3;
}

.earthOMAN {
	background-color: #907243;
}

.earthARABIA {
	background-color: #73c806;
}

.earthTURKEY {
	background-color: #dd0d30;
}

.earthPALA {
	background-color: #ff9306;
}

.earthSYRIA {
	background-color: #dfa854;
}

.earthIRAN {
	background-color: #7a9317;
}

.earthCAUC {
	background-color: #821793;
}

.earthCYP {
	background-color: #008fb0;
}

.earthGRE {
	background-color: #0817b8;
}

.earthBALKAN {
	background-color: #6608b8;
}

.earthNAN {
	background-color: #7b081f;
}
.earthSME {
	background-color: #c29529;
}


/* SPACE COLOURS */

.spaceTEUTIONIA {
	background-color: #ad002b;
}

.spaceTRIBES {
	background-color: #00cc33;
}



.spaceSTEKARUS {
	background-color: #ff6633;
}

.spaceSILBERFLUSS {
	background-color: #6a51a2;
}

.spaceRDA {
	background-color: #0000ff;
}

.spaceNEF {
	background-color: #fa0bfd;
}

.spaceREPUBLICA {
	background-color: #d96c21;
}

.spaceASH {
	background-color: #6fa0cb;
}

.spaceSUBURBIA {
	background-color: #f7ed46;
}

.spaceCONFEDERATEIMPERIUM {
	background-color: #ff7e00;
}

.spaceGRENZE {
	background-color: #456b6c;
}



.spaceZEIKEUTSYR {
	background-color: #6e0085;
}





.spaceISAURIAN {
	background-color: #ffffff;
}

.spaceISTANISTAN {
	background-color: #0d8001;
}

.spaceTITANANIUM {
	background-color: #bc0cc7;
}







.spaceGRIPPLI {
	background-color: #bcc7c6;
}

.spaceCCCP {
	background-color: #1f5f9f;
}

.spacePORTALLA {
	background-color: #00d2ff;
}

.spaceSHEJIN {
	background-color: #8984d1;
}

.spaceAIDAN {
	background-color: #f95bff;
}



.spaceTRAIKUPI {
	background-color: #42ebff;
}


