.list {
text-align: left;
padding-left: 25%;
list-style:none;
font-weight:600;
margin: 2%;
}
.headings {
text-align: left;
padding-left:26%;
font-weight: 700;
}

#table {
    margin-top:2%;
    margin-bottom:2%;
    color:#ffffff;
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    width:100%;
    text-align: center;
}

#table > div {
    width:25%;
}

@media(max-width:1024px){
    #table > div {
        width:33%;
    }
}

@media(max-width:768px){
    #table > div {
        width:50%;
    }
}

@media(max-width:500px){
    #table > div {
        width:100%;
    }
}



#regionheading {
font-size: 35px;
color:#000000;
font-weight: 900;
font-family: Rubik;
font-weight: 700;
float:left;
}

#regionheading:hover {
    background-color: #f5f5f5;
    text-decoration: underline;
    cursor: pointer;
}


@media only screen and (max-width: 1024px) {
    #regionheading {
        font-size:25px;
}
}

.spaceSwitchButton.active {
    background: #f5f5f5;
    color: #000000;
  }
  .spaceSwitchButton:hover {
    background: #f5f5f5;
    color: #000000;
  }
  .spaceSwitchButton {
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 15px;
    transition: 0.1s;
    font-size: 25px;
    color: #f5f5f5;
    vertical-align: bottom;
    font-family: Rubik;
    font-weight:500;
  
    background-color: #000000;
    text-align: middle;
    -webkit-animation: fadeEffect 0.5s;
    animation: fadeEffect 0.5s;
  }
  .spaceSwitchButton.active {
    background-color: #ffffff;
  }

  #spaceSwitchButtonContainer {
    text-align:center;
    margin-bottom:5%;
  }
  #spaceSwitchButtonDiv {
    display:inline-block;
  }

.legendcontent {
    list-style:none; font-size: 19px; font-weight: 700; align: top;
}
    
    #preloadedImages
    {
        width: 0px;
        height: 0px;
        display: inline;
        background-image: url(SpaceMap/Space_Map.png);
        background-image: url(SpaceMap/Earth_Map.png);
        background-image: url(SpaceMap/Region_Map.png);
        background-image: url(SpaceMap/Space_Map_Text.png);

    }


    .spaceDateElysium {
    background: #282828;
    color:#ffffff;
    font-weight: 900;
    text-align: left;
    padding-top: 1em;
    vertical-align: middle;
    display: inline-block;


    position: absolute;
    bottom: 0;
    width: 100%;
    }

    .spaceDate {
        background: #282828;
        color:#ffffff;
        font-weight: 900;
        text-align: left;
        padding-top: 1em;
        vertical-align: middle;
        display: inline-block;
        width:100%;
    
        }

    .footer {
        padding-left: 1cm;
    }

    #SpaceTab {
    background: #fdc72e;
    }

    #space {
    background: #fdc72e;
    text-align: center;
    padding-top: 1cm;
    image-rendering: smooth;

    }


    #spaceLabels {
    background: #fdc72e;
    color: #f5f5f5;
    text-align: center;
    padding-top: 1cm;

    }
    ul {
    margin: 1em 0;
    padding: 0 0 0 10px;
    }
    li {
    margin: 0.5em 0;
    }


    #AfricaButton:hover {
    background: #f5f5f5;
    color: #000000;
    }


        .placeholder {
        background: #000000;
    }
    .box {
    float: left;
    width: 18px;
    height: 18px;
    margin: 0px;
    margin-right: 15px;
    vertical-align: text-bottom;
    }

    @-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
    }
    @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
    }

    #spaceMap {
        width: 60%;
    }
@media only screen and (max-width:800px) {

    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
    #regionheading {
        display:none;
    }
    #info {
        width:20%;
        margin:0;
    }
    #earthButton {
        width:40%;
        margin:0;
        float:left;
    }
    #spaceButton {
        width:40%;
        margin:0;
    }
    #divHeading {
        margin:0;
        padding:0;

    }
    .list {
        padding-left:5%;
    }
    .headings {
        padding-left:5%;
    }
    #spaceList {
        padding-left:5em;
    }


    #spaceMap {
        width: 95%;
    }
    #leftColumn {
    display:none;
    }
    #rightColumn {
    display:none;
}

    .iframe {
        width:100vw;
    }
}